<!DOCTYPE html>
<html>
  <head>
    <title>New Post - <%= blog.name %></title>
    <%- include head %>
    <link href='http://fonts.googleapis.com/css?family=Habibi|Gilda+Display|Poiret+One|Podkova|Gudea|Calligraffitti|Tangerine|Italianno|Julius+Sans+One|Playfair+Display+SC|Cinzel+Decorative|Cinzel|Asul|Amatic+SC|Trykker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Princess+Sofia|Allura|Great+Vibes|Metamorphous|Maven+Pro|Rochester' rel='stylesheet' type='text/css'>
  </head>
  <body class="edit">

    <% if (user) { %>
      <% include header %>
    <% } %>

    <div class="toolbox panel" data-spy="affix">
      <div class="panel-heading">Toolbox</div>
      <label class="checkbox">
        <input id="include-signature" type="checkbox" value="signature"<%= (post.getConfig && post.getConfig().include_signature === false ? '' : ' checked') %>> Include signature
      </label>
      <label class="checkbox">
        <input id="include-tweet-button" type="checkbox" value="tweet-button"<%= (post.getConfig && post.getConfig().include_tweet_button === false ? '' : ' checked') %>> Include tweet button
      </label>

      <div class="btn-group buttons">
        <button id="save" type="button" class="btn btn-primary">Save</button>
        <button id="publish" type="button" class="btn btn-primary">Publish</button>
      </div>

    </div>

    <input id="post-title" type="text" class="post-title" placeholder="enter a title" value="<%- post.title %>"></input>

    <textarea id="post-content" class="post-content" placeholder="start typing..."><%- post.content %></textarea>

    <script src="/static/javascripts/marked.js"></script>
    <script src="/static/javascripts/new.js"></script>

  </body>
</html>