<!DOCTYPE html>
<html>
  <head>
    <title><%= blog.name %></title>
    <%- include head %>
  </head>
  <body>

    <% if (user) { %>
      <% include header %>
    <% } %>

    <% for (var i in posts) { %>
      <% var post = posts[i]; %>
      <h2><a href="<%= post.slug %>"><%= post.title %></a></h2>
      <div class="content">
        <%- post.getHTML() %>
      </div>
    <% } %>

  </body>
</html>