<!DOCTYPE html>
<html>
  <head>
    <title><%= blog.name %></title>
    <%- include head %>
    <link href='http://fonts.googleapis.com/css?family=Habibi|Gilda+Display|Poiret+One|Podkova|Gudea|Calligraffitti|Tangerine|Italianno|Julius+Sans+One|Playfair+Display+SC|Cinzel+Decorative|Cinzel|Asul|Amatic+SC|Trykker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Princess+Sofia|Allura|Great+Vibes|Metamorphous|Maven+Pro|Rochester' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <% if (user) { %>
      <% include header %>
    <% } %>

    <% for (var i in posts) { %>
      <% var post = posts[i]; %>
      <h2><a href="<%= post.slug %>"><%= post.title %></a></h2>
      <div class="content">
        <%- post.getHTML() %>
      </div>
    <% } %>

  </body>
</html>