<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title || 'New Post' %> - <%= blog.name %></title>
    <%- include head %>
  </head>
  <body class="post">

    <% include header %>

    <div class="post" data-post-id="<%= post.id || '' %>">

      <h1 class="post-title"><%= post.title || '' %></h1>

      <div class="post-content"><%- post.getHTML && post.getHTML() %></div>

      <div class="edit-container">

        <textarea class="edit-content" name="post-content" placeholder="Once upon a time..."><%- post.content %></textarea>
        <div class="post-options panel">
          <div class="panel-heading">Manage Post</div>
          Some text
          <ul class="list-group list-group-flush">

            <li class="list-group-item btn-group">
              <input type="text" placeholder="Enter a title..." value="<%= post.title || '' %>" name="post-title"></input>
            </li>

            <li class="list-group-item btn-group">
              <input type="text" placeholder="/url/of/post" value="<%= post.slug || '' %>" name="post-slug"></input>
            </li>

            <li class="list-group-item">
              <label class="checkbox">
                <input name="include-signature" type="checkbox" value="signature"<%= (post.getConfig && post.getConfig().include_signature === false ? '' : ' checked') %>> Include signature
              </label>
              <label class="checkbox">
                <input name="include-tweet-button" type="checkbox" value="tweet-button"<%= (post.getConfig && post.getConfig().include_tweet_button === false ? '' : ' checked') %>> Include tweet button
              </label>
            </li>
            <li class="list-group-item btn-group buttons">
                <a href="#delete" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#publish" type="button" class="btn btn-primary"><%= post.published_at ? 'Published' : 'Publish' %></a>
            </li>
          </ul>

        </div>
        <div class="post-options-handle"></div>
      </div>

      <div class="post-footer clearfix">
        <div>
          <span class="post-signature<%= (post.getConfig && post.getConfig().include_signature) ? '' : ' hidden' %>">Chris Roth - April 2, 2013</span>
          <a href="https://twitter.com/share" class="twitter-share-button<%= (post.getConfig && post.getConfig().include_tweet_button) ? '' : ' hidden' %>" data-via="chrisrxth" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

    </div><!-- .post -->

    <% include footer %>

    <script src="/static/javascripts/post.js"></script>

  </body>
</html>