<!DOCTYPE html>
<html>
  <head>
    <title><%= blog.name %></title>
    <%- include head %>
  </head>
  <body class="posts">

    <% include header %>

    <table class="table">
      <% for (var i in posts) { %>
        <% var post = posts[i]; %>
        <tr>
          <td><a class="post-title" href="<%= post.slug %>"><%= post.title || 'Untitled (#' + post.id + ')' %></a></td>
          <td><span class="post-status"><%= moment(post.published_at).format('MMMM D, YYYY') || 'Draft' %></a></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>