<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %> - <%= blog.name %></title>
    <%- include head %>
    <link href='http://fonts.googleapis.com/css?family=Habibi|Gilda+Display|Poiret+One|Podkova|Gudea|Calligraffitti|Tangerine|Italianno|Julius+Sans+One|Playfair+Display+SC|Cinzel+Decorative|Cinzel|Asul|Amatic+SC|Trykker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Princess+Sofia|Allura|Great+Vibes|Metamorphous|Maven+Pro|Rochester' rel='stylesheet' type='text/css'>
  </head>
  <body class="post">

    <% if (user) { %>
      <% include header %>
    <% } %>

    <% if (user) { %>
      <div>
        <h1 class="post-title"><%= post.title %><button class="post-options-toggle btn btn-mini dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button></h1>
        <ul class="post-options dropdown-menu">
          <li><a href="/edit/<%= post.id %>">Edit</a></li>
          <li><a href="#delete-post-modal" data-delete-id="<%= post.id %>" data-delete-title="<%= post.title %>">Delete</a></li>
          <li><a href="/publish<%= post.id %>">Publish</a></li>
        </ul>
      </div>
    <% } else { %>
      <h1 class="post-title"><%= post.title %></h1>
    <% } %>

    <div class="post-content">

      <%- post.getHTML() %>

      <p class="signature">
        <% console.log(post.getConfig()) %>
        <% if (post.getConfig().include_signature) { %>
          Chris Roth - April 2, 2013
        <% } %>
        <% if (post.getConfig().include_tweet_button) { %>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="chrisrxth" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <% } %>
      </p>

    </div>

    <script src="/static/javascripts/post.js"></script>

  </body>
</html>